<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>SkyScope</title>
    <link rel="stylesheet" href="/bootstrap-5.3.5-dist/css/bootstrap.min.css">
    <script src="/bootstrap-5.3.5-dist/js/bootstrap.bundle.min.js"></script>

</head>
<body style="background-image: url('//cdn.jsdelivr.net/npm/three-globe/example/img/night-sky.png');">
<main class="container">
    <div class="card h-100 rounded-5">
        <div class="card-body">
            <div class="card-title container text-center">
                <div class="row">
                    <h5 class="card-title col"
                        th:text="${validatedOffer.getItineraries().getFirst().getSegments().getFirst().getDeparture().getAirportName()}"></h5>
                    <h5 class="card-title col"
                        th:text="${validatedOffer.getItineraries().getFirst().getSegments().getLast().getArrival().getAirportName()}"></h5>
                </div>
            </div>
            <p class="card-text">Ár: <span th:text="${validatedOffer.price.total}"></span> HUF</p>
        </div>
        <div class="card-footer">
            <div class="card h-100 mb-3">
                <div class="card-body">
                    <div class="card-text container text-center"
                         th:each="itinerary, itineraryStatus : ${validatedOffer.getItineraries()}">
                        <div class="row text-start">
                            <h5 th:text="${itineraryStatus.odd ? 'Induló járat' : 'Visszaút'}"></h5>
                            <hr>
                        </div>
                        <div class="row"
                             th:each="segment : ${itinerary.getSegments()}">
                            <p class="col fs-6"
                               th:text="${segment.getDeparture().getAirportName()}"></p>
                            <p class="col fs-6"
                               th:text="${segment.getDeparture().getAt()}"></p>
                            <p class="col fs-6"
                               th:text="${segment.getArrival().getAirportName()}"></p>
                            <p class="col fs-6"
                               th:text="${segment.getArrival().getAt()}"></p>
                        </div>
                        <div class="row text-start"
                             th:if="${itinerary.getLayoverTime().size() > 0}">
                            <p class="col fs-6"
                               th:each="layover : ${itinerary.getFormattedLayoverTime()}"
                               th:text="${'Átszállási idő: ' + layover}">
                            </p>
                        </div>
                        <div class="row"
                             th:each="segment, segmentStatus : ${itinerary.getSegments()}">
                            <hr th:if="${segmentStatus.first}">
                            <p class="col fs-6"
                               th:text="${segment.getOperating().getCarrierName()}"></p>
                            <p class="col fs-6"
                               th:if="${segment.getCarrierName() != segment.getOperating().getCarrierName()}"
                               th:text="${'Jegyértékesítő: '+segment.getCarrierName()}"></p>
                            <p class="col fs-6"
                               th:text="${segment.getAircraft().getName()}"></p>
                        </div>
                        <div class="row text-start">
                            <h5>Utasok</h5>
                            <hr>
                        </div>
                        <div Class="row"
                             th:each="segment, segmentStatus : ${itinerary.getSegments()}">
                            <div class="col" th:each="traveller : ${validatedOffer.getTravelerPricings()}">
                                <p class="col fs-6"
                                   th:text="${traveller.getTraveller()}"></p>
                                <div class="col"
                                     th:each="fareDetails : ${traveller.getFareDetailBySegmentId(segment.getId())}">
                                    <p class="col fs-6"
                                       th:text="${fareDetails.getCabin()}"></p>
                                    <p class="col fs-6"
                                       th:text="${fareDetails.getIncludedCheckedBags().getQuantity() + ' feladott poggyász'}"></p>
                                    <p class="col fs-6"
                                       th:text="${fareDetails.getIncludedCabinBags().getQuantity() + ' kézipoggyász'}"></p>
                                </div>
                                <hr th:if="${!segmentStatus.last}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>