<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>a manóba</title>
    <link rel="stylesheet" href="/bootstrap-5.3.5-dist/css/bootstrap.min.css">
    <script src="/bootstrap-5.3.5-dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-danger">
<main class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card  bg-light rounded-3">
        <p class="fs-1 card-title ps-2 mb-0">A manóba!</p>
        <div class="card-body">
            <p class="card-text fs-4">Nem minden sikerülhet elsőre,<a
                    class="text-reset badge text-bg-info text-wrap" href="/">próbálja újra!</a></p>
        </div>
    </div>
</main>
</body>
</html>