<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>a manóba</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
</head>
<body class="bg-danger">
<main class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card  bg-light rounded-3">
        <p class="fs-1 card-title ps-2 mb-0">A manóba!</p>
        <div class="card-body">
            <p class="card-text fs-4">Nem minden sikerülhet elsőre,<a
                    class="text-reset badge text-bg-info text-wrap" href="/">próbálja újra!</a></p>
        </div>
    </div>
</main>
</body>
</html>