<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>SkyScope</title>
    <link rel="stylesheet" href="/bootstrap-5.3.5-dist/css/bootstrap.min.css">
    <script src="/bootstrap-5.3.5-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/searchBar.js"></script>
    <script src="/js/globeOnSearchPage.js"></script>
    <script src="/js/FlightOfferPage.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body onload="offersLoaded(); searchBarLoaded(); bodyLoaded();"
      style="background: linear-gradient(135deg, #232526 0%, #414345 100%); min-height: 100vh;">
<header>
    <div id="searchBar"
         class="container d-flex justify-content-center mt-4 rounded-5 shadow-lg bg-white position-relative">
        <form th:replace="~{searchBar}"></form>
    </div>
</header>
<main class="mt-5 container">
    <div class="row">
        <aside class="col-12 col-md-3 mb-4">
            <div class="card rounded-5 mb-4 shadow-sm border-0">
                <h5 class="card-header bg-primary text-white rounded-5 border-0">
                    <i class="bi bi-sliders"></i> Találatok rendezése
                </h5>
                <div class="card-body d-flex flex-column align-items-center gap-2">
                    <a th:href="@{'/sort/' + ${searchId} + '?by=priceAsc'}" class="btn btn-outline-primary w-100"
                       id="priceAsc"><i class="bi bi-arrow-up"></i> Ár szerint növekvő</a>
                    <a th:href="@{'/sort/' + ${searchId} + '?by=priceDsc'}" class="btn btn-outline-dark w-100"
                       id="priceDsc"><i class="bi bi-arrow-down"></i> Ár szerint csökkenő</a>
                    <a th:href="@{'/sort/' + ${searchId} + '?by=flyTimeAsc'}" class="btn btn-outline-primary w-100"
                       id="flyTimeAsc"><i class="bi bi-clock"></i> Repülési idő szerint növekvő</a>
                    <a th:href="@{'/sort/' + ${searchId} + '?by=flyTimeDsc'}" class="btn btn-outline-dark w-100"
                       id="flyTimeDsc"><i class="bi bi-clock-history"></i> Repülési idő szerint csökkenő</a>
                    <a th:href="@{'/sort/' + ${searchId} + '?by=transferTimeAsc'}" class="btn btn-outline-primary w-100"
                       id="transferTimeAsc"><i class="bi bi-arrow-up-right"></i> Átszállás száma szerint növekvő</a>
                    <a th:href="@{'/sort/' + ${searchId} + '?by=transferTimeDsc'}" class="btn btn-outline-dark w-100"
                       id="transferTimeDsc"><i class="bi bi-arrow-down-right"></i> Átszállás száma szerint csökkenő</a>
                </div>
            </div>
            <div class="card rounded-5 shadow-sm border-0">
                <h5 class="card-header bg-primary text-white rounded-5 border-0">
                    <i class="bi bi-funnel"></i> Találatok szűrése
                </h5>
                <div class="card-body container">
                    <form class="row align-items-center m-auto justify-content-center gap-2"
                          method="POST" th:action="@{/filter/{id}(id=${searchId}, by=${sortBy})}"
                          th:object="${filterOffers}">
                        <p class="text-primary mb-0 fw-bolder">Ár szerint</p>
                        <hr>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="max">Max</span>
                            <input type="number" class="form-control" th:placeholder="${filterOptions.getMaxPrice()}"
                                   aria-label="Max"
                                   aria-describedby="Max" th:field="*{maxPrice}">
                        </div>
                        <p class="text-primary mb-0 fw-bolder">Átszállás száma szerint</p>
                        <hr>
                        <select class="form-select mb-3" aria-label="transfers" th:field="*{transferNumber}">
                            <option value="" selected>legfeljebb...</option>
                            <option th:each="option : ${filterOptions.getTransferNumbers()}"
                                    th:value="${option}"
                                    th:text="${option}">
                            </option>
                        </select>
                        <p class="text-primary mb-0 fw-bolder">Átszállási idő szerint</p>
                        <hr>
                        <select class="form-select mb-3" aria-label="transferDuration" th:field="*{transferDuration}">
                            <option value="" selected>Legfeljebb...</option>
                            <option th:each="option : ${filterOptions.getLayoverTimes()}"
                                    th:value="${option}"
                                    th:text="${filterOptions.getFormattedLayoverTime(option)}">
                            </option>
                        </select>
                        <div class="d-flex align-items-center gap-2 flex-nowrap w-100"
                             data-bs-toggle="collapse"
                             data-bs-target="#airlineFilter" aria-expanded="false" aria-controls="airlineFilter">
                            <h6 class="text-primary mb-0 fw-bolder text-nowrap">Légitársaság szerint</h6>
                            <i class="bi bi-caret-down-fill text-primary"></i>
                        </div>
                        <hr>
                        <div id="airlineFilter" class="collapse">
                            <div th:each="airline : ${filterOptions.getAllAirline()}"
                                 class="form-check form-switch mb-2">
                                <input class="form-check-input"
                                       type="checkbox"
                                       role="switch"
                                       th:id="${airline}"
                                       th:name="selectedAirlines"
                                       th:value="${airline}"
                                       th:field="*{airlines}">
                                <label class="form-check-label" th:for="${airline}"
                                       th:text="${airline}"></label>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-2 flex-nowrap w-100"
                             data-bs-toggle="collapse"
                             data-bs-target="#airplaneFilter" aria-expanded="false" aria-controls="airplaneFilter">
                            <h6 class="text-primary mb-0 fw-bolder text-nowrap">Repülőgép szerint</h6>
                            <i class="bi bi-caret-down-fill text-primary"></i>
                        </div>
                        <hr>
                        <div id="airplaneFilter" class="collapse">
                            <div th:each="airplane : ${filterOptions.getAirplaneTypes()}"
                                 class="form-check form-switch mb-2">
                                <input class="form-check-input"
                                       type="checkbox"
                                       role="switch"
                                       th:id="${airplane}"
                                       th:name="selectedAirplane"
                                       th:value="${airplane}"
                                       th:field="*{airplanes}">
                                <label class="form-check-label" th:for="${airplane}"
                                       th:text="${airplane}"></label>
                            </div>
                        </div>
                        <div class="d-flex gap-2 mt-3">
                            <button type="submit" class="btn btn-outline-primary flex-fill">Szűrés</button>
                            <button type="submit" class="btn btn-outline-dark flex-fill"
                                    th:formaction="@{/filter/reset/{id}(id=${searchId}, by=${sortBy})}">Szűrések törlése
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </aside>

        <section class="col-12 col-md-9">
            <div class="row row-cols-1 row-cols-md-1 g-4">
                <div class="col" th:each="offer : ${results}" name="resultCard">
                    <div class="card h-100 rounded-5 shadow-lg border-0">
                        <div class="card-body">
                            <div class="card-title container text-center">
                                <div class="row align-items-center">
                                    <h5 class="card-title col text-primary"
                                        th:text="${offer.getItineraries().getFirst().getSegments().getFirst().getDeparture().getAirportName()}"></h5>
                                    <h5 class="card-title col" name="durationAndTransfers"
                                        th:text="${offer.getItineraries().getFirst().getDuration() + offer.getItineraries().getFirst().getTransferNumber()}"></h5>
                                    <h5 class="card-title col text-primary"
                                        th:text="${offer.getItineraries().getFirst().getSegments().getLast().getArrival().getAirportName()}"></h5>
                                </div>
                            </div>
                            <p class="card-text fs-5">Ár: <span name="price" class="fw-bold text-success"
                                                                th:text="${offer.price.total}"></span> HUF</p>
                        </div>
                        <div class="card-footer bg-light border-0 d-flex flex-wrap gap-2 justify-content-between">
                            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                                    th:attr="data-bs-target=${'#'+offer.getId()}"
                                    aria-expanded="false" aria-controls="details" name="details">
                                <i class="bi bi-info-circle"></i> Részletek
                            </button>
                            <a class="btn btn-primary" id="book"
                               th:href="@{'/createOrder/travellerDetails/' + ${searchId} + '?offerId=' + ${offer.getId()}}">
                                <i class="bi bi-cart-plus"></i> Foglalás
                            </a>
                        </div>
                        <div class="collapse" th:attr="id=${offer.getId()}">
                            <div class="card h-100 mb-3 shadow-sm border-0">
                                <div class="card-body">
                                    <div class="card-text container text-center"
                                         th:each="itinerary, itineraryStatus : ${offer.getItineraries()}">
                                        <div class="row text-start">
                                            <h5 th:text="${itineraryStatus.odd ? 'Induló járat' : 'Visszaút'}"
                                                class="fw-bold text-primary"></h5>
                                            <hr>
                                        </div>
                                        <div class="row"
                                             th:each="segment : ${itinerary.getSegments()}">
                                            <p class="col fs-6"
                                               th:text="${segment.getDeparture().getAirportName()}"></p>
                                            <p class="col fs-6"
                                               th:text="${segment.getDeparture().getAt()}"></p>
                                            <p class="col fs-6"
                                               th:text="${segment.getArrival().getAirportName()}"></p>
                                            <p class="col fs-6"
                                               th:text="${segment.getArrival().getAt()}"></p>
                                        </div>
                                        <div class="row text-start"
                                             th:if="${itinerary.getLayoverTime().size() > 0}">
                                            <p class="col fs-6"
                                               th:each="layover : ${itinerary.getFormattedLayoverTime()}"
                                               th:text="${'Átszállási idő: ' + layover}">
                                            </p>
                                        </div>
                                        <div class="row"
                                             th:each="segment, segmentStatus : ${itinerary.getSegments()}">
                                            <hr th:if="${segmentStatus.first}">
                                            <p class="col fs-6 text-primary"
                                               th:text="${segment.getOperating().getCarrierName()}"></p>
                                            <p class="col fs-6"
                                               th:if="${segment.getCarrierName() != segment.getOperating().getCarrierName()}"
                                               th:text="${'Jegyértékesítő: '+segment.getCarrierName()}"></p>
                                            <p class="col fs-6 text-secondary"
                                               th:text="${segment.getAircraft().getName()}"></p>
                                        </div>
                                        <div class="row text-start">
                                            <h5 class="fw-bold text-primary">Utasok</h5>
                                            <hr>
                                        </div>
                                        <div class="row"
                                             th:each="segment, segmentStatus : ${itinerary.getSegments()}">
                                            <div class="col" th:each="traveller : ${offer.getTravelerPricings()}">
                                                <p class="col fs-6 fw-bold"
                                                   th:text="${traveller.getTraveller()}"></p>
                                                <div class="col"
                                                     th:each="fareDetails : ${traveller.getFareDetailBySegmentId(segment.getId())}">
                                                    <p class="col fs-6"
                                                       th:text="${fareDetails.getCabin()}"></p>
                                                    <p class="col fs-6"
                                                       th:text="${fareDetails.getIncludedCheckedBags().getQuantity() + ' feladott poggyász'}"></p>
                                                    <p class="col fs-6"
                                                       th:text="${fareDetails.getIncludedCabinBags().getQuantity() + ' kézipoggyász'}"></p>
                                                </div>
                                                <hr th:if="${!segmentStatus.last}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="cheaperOfferToast" class="toast text-bg-info shadow-lg border-0" role="alert" aria-live="assertive"
             aria-atomic="true" data-bs-autohide="false">
            <div class="toast-header bg-info text-white border-0">
                <i class="bi bi-currency-exchange me-2"></i>
                <strong class="me-auto">Olcsóbb ajánlat</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Rugalmas a dátum? Van olcsóbb ajánlat!
            </div>
            <div class="mt-2 mb-2 ms-2 pt-2 border-top">
                <a id="cheaperOfferBtn" class="btn btn-secondary btn-sm mb-2"
                   th:href="@{'/resultsPage/' + ${searchId} + '?by=transferTimeAsc&cheaper=true'}">Megnézem</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>