<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>SkyScope</title>
    <link rel="stylesheet" href="/bootstrap-5.3.5-dist/css/bootstrap.min.css">
    <script src="/bootstrap-5.3.5-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/searchBar.js"></script>
    <script src="//cdn.jsdelivr.net/npm/globe.gl"></script>
    <script src="/js/globeOnIndexPage.js"></script>
</head>
<body onload="searchBarLoaded(); bodyLoaded();">
<main>
    <div th:replace="~{searchBar}"></div>
    <div id="main"></div>
</main>
</body>
</html>