<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>SkyScope</title>
  <link rel="stylesheet" href="/bootstrap-5.3.5-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/globalStyle.css">

  <script src="/bootstrap-5.3.5-dist/js/bootstrap.bundle.min.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>
</head>
<body class="container">
<zero-md src="/gdpr/adatvedelem.md">
  <template>
    <link rel="stylesheet" href="/css/gdpr.css">
  </template>
</zero-md>
</body>
</html>