<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SkyScope</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/globalStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    <script src="/js/loginAndRegister.js"></script>
</head>
<body onload="contentLoaded();">
<main class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card rounded-5 card-main">
        <div class="card-body">
            <p class="fs-2 card-title badge text-bg-info text-wrap">Bejelentkezés</p>
            <form class="row align-items-center m-auto justify-content-center gap-2"
                  method="POST" th:action="@{/login}">
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" placeholder="email cím"
                           name="username" required>
                    <label for="email" class="ms-1">Email cím</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" placeholder="jelszo"
                           name="password" required>
                    <label for="password" class="ms-1">Jelszó</label>
                </div>
                <div class="text-danger" id="error" hidden>Hibás email cím vagy jelszó!</div>
                <div class="d-flex gap-2 mt-3">
                    <button type="submit" class="btn btn-outline-info rounded-btn flex-fill" id="login">Bejelentkezés<i
                            class="bi bi-box-arrow-in-right"></i></button>
                    <button type="button" class="btn btn-outline-light rounded-btn flex-fill" data-bs-toggle="modal"
                            data-bs-target="#registration" id="reg">
                        Regisztráció<i class="bi bi-plus-lg"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="modal fade" id="registration" tabindex="-1" aria-labelledby="registrationLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content card-secondary">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 badge text-bg-info text-wrap" id="registrationLabel">
                            Regisztráció</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div th:if="${validationError != null}">
                            <div th:text="${validationError}" class="text-danger"></div>
                        </div>
                        <form class="row align-items-center m-auto justify-content-center gap-2"
                              method="POST" th:action="@{/signup}" th:object="${registerUser}">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="signupEmail" placeholder="email cím"
                                       th:field="*{email}" required>
                                <label for="signupEmail" class="ms-1">Email cím</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" class="form-control" id="signupPassword" placeholder="jelszó"
                                       th:field="*{password}"
                                       required>
                                <label for="signupPassword" class="ms-1">Jelszó</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" class="form-control" id="signupRePassword"
                                       placeholder="jelszó újra" th:field="*{rePassword}"
                                       required>
                                <label for="signupRePassword" class="ms-1">Jelszó újra</label>
                            </div>
                            <div class="form-check form-switch ms-4">
                                <input class="form-check-input" type="checkbox" role="switch" id="gdpr"
                                       th:field="*{gdprAccepted}" required>
                                <label class="form-check-label" for="gdpr">Az <a href="/gdpr"
                                                                                 class="badge text-bg-info text-wrap">adatvédelmi
                                    tájékoztatót </a>elfogadom</label>
                            </div>
                            <hr class="mb-0 mt-3">
                            <div class="d-flex gap-2 mt-3">
                                <button type="submit" class="btn btn-outline-info rounded-btn flex-fill" id="signup">
                                    Regisztráció<i class="bi bi-plus-lg"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>