<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>SkyScope</title>
    <link rel="stylesheet" href="/bootstrap-5.3.5-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/globalStyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <script src="/bootstrap-5.3.5-dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<main class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card card-main">
        <div class="card-header">
            <p class="fs-2 card-title badge text-bg-info text-wrap">Fiókom</p>
            <p class="text-info card-name ms-1" th:text="${user.email()}"></p>
        </div>
        <div class="card-body">
            <div th:if="${validationError != null}">
                <div th:text="${validationError}" class="text-danger"></div>
            </div>
            <div th:if="${success != null}">
                <div class="text-success">Sikeres módosítás</div>
            </div>
            <form class="row align-items-center m-auto justify-content-center gap-2"
                  method="POST" th:action="@{/profile/passwordChange}" th:object="${user}">
                <div class="row text-info">Jelszó változtatás</div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="currentPassword" placeholder="jelenlegi jelszó"
                           th:field="*{oldPassword}"
                           required>
                    <label for="currentPassword" class="ms-1">jelenlegi jelszó</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="newPassword" placeholder="új jelszó"
                           th:field="*{password}"
                           required>
                    <label for="newPassword" class="ms-1">új jelszó</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="rePassword"
                           placeholder="új jelszó újra" th:field="*{rePassword}"
                           required>
                    <label for="rePassword" class="ms-1">új jelszó újra</label>
                </div>
                <hr class="mb-0 mt-3">
                <div class="d-flex gap-2 mt-3">
                    <button type="submit" class="btn btn-outline-info rounded-btn flex-fill col" id="signup">
                        Jelszó változtatás <i class="bi bi-floppy2-fill"></i></button>
                    <a class="btn btn-outline-light rounded-btn" href="/logout">kijelentkezés <i
                            class="bi bi-box-arrow-right"></i></a>
                    <button type="button" class="btn btn-danger rounded-btn col" data-bs-toggle="modal"
                            data-bs-target="#deleteConfirm">
                        Fiók törlése <i
                            class="bi bi-trash-fill"></i>
                    </button>
                </div>
            </form>
            <div class="modal fade" id="deleteConfirm" tabindex="-1" aria-labelledby="deleteConfirmLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content card-secondary">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 card-name" id="deleteConfirmLabel">Megerősítés</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            A kért művelet nem vonható vissza. A fiók törlésével a lefoglalt járatok nem törlödnek.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary rounded-btn" data-bs-dismiss="modal">Mégsem
                            </button>
                            <a class="btn btn-danger rounded-btn" href="/profile/delete">Fiók törlése</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>