<form class="row g-3 align-items-center m-auto justify-content-center" th:action="@{/flightsearch}"
      th:object="${flightSearch}" method="POST">
    <div class="col-auto form-floating mb-3">
        <input onfocusout="goToOriginCity()" type="text" class="form-control form-control" id="originCity"
               th:field="*{originCity}" placeholder="induló város">
        <label for="originCity">induló város</label>
    </div>
    <div class="col-auto form-floating mb-3">
        <input onfocusout="goToDestinationCity()" type="text" class="form-control form-control" id="destinationCity"
               th:field="*{destinationCity}" placeholder="cél város">
        <label for="destinationCity">cél város</label>
    </div>
    <div class="col-auto form-check form-switch mb-3">
        <input onfocusout="isOneWay()" class="form-check-input me-2" type="checkbox" role="switch" id="onlyOneWay"
               th:field="*{oneWay}"
               style="width: 3rem; height: 1.5rem;">
        <label class="form-check-label" for="onlyOneWay">Csak oda út</label>
    </div>
    <div class="col-auto form-floating mb-3">
        <input onfocusout="setInGoingMin()" type="date" class="form-control form-control-lg" id="outGoingDate"
               th:field="*{departureDate}"
               placeholder="indulás napja">
        <label for="outGoingDate">indulás napja</label>
    </div>
    <div class="col-auto form-floating mb-3">
        <input onfocusout="setOutGoingMin()" type="date" class="form-control form-control-lg" id="inGoingDate"
               th:field="*{returnDate}"
               placeholder="visszaút apja">
        <label for="inGoingDate">visszaút napja</label>
    </div>
    <div class="col-auto d-flex align-items-center mb-3 form-floating">
        <button type="submit" class="col-auto btn btn-primary h-100" id="searchFlightsButton"
                onclick="showLoadingIndicator()">Keresés
            <span hidden id="loadingIndicator" class="spinner-border spinner-border-sm"></span></button>
    </div>
    <div class="col-auto d-flex align-items-center mb-3 form-floating">
        <button class="btn btn-primary" type="button"
                data-bs-toggle="collapse" data-bs-target="#advancedSearch"
                aria-expanded="false" aria-controls="advancedSearch" id="advancedSearchButton">
            Összetett keresés <i class="bi bi-caret-down-fill"></i>
        </button>
    </div>
    <div th:if="${errorMessages != null}" class="mb-3">
        <div th:text="${errorMessages}" class="text-danger"></div>
    </div>
    <div class="collapse mt-2 mb-2" id="advancedSearch">
        <div class="card card-body">
            <div class="row g-3 justify-content-center align-items-center">
                <div class="col-12 col-md-2 form-floating">
                    <input type="number" class="form-control form-control-sm" id="numberOfAdults"
                           th:field="*{numberOfAdults}" min="1">
                    <label for="numberOfAdults">Felnőttek száma</label>
                </div>
                <div class="col-12 col-md-2 form-floating">
                    <input type="number" class="form-control form-control-sm" id="numberOfChildren"
                           th:field="*{numberOfChildren}" min="1">
                    <label for="numberOfChildren">Gyerekek száma</label>
                </div>
                <div class="col-12 col-md-2 form-floating">
                    <input type="number" class="form-control form-control-sm" id="numberOfInfants"
                           th:field="*{numberOfInfants}" min="1">
                    <label for="numberOfInfants">Csecsemők száma</label>
                </div>
                <div class="col-12 col-md-3">
                    <div class="input-group">
                        <label class="input-group-text" for="travelClass">Osztály</label>
                        <select class="form-select form-select-lg" id="travelClass" th:field="*{travelClass}">
                            <option th:value="'ALL'" selected>Mindegy</option>
                            <option th:value="'ECONOMY'">Economy</option>
                            <option th:value="'PREMIUM_ECONOMY'">Prémium economy</option>
                            <option th:value="'BUSINESS'">Business</option>
                            <option th:value="'FIRST'">First</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-2 form-floating">
                    <input type="number" class="form-control form-control-sm" id="maxPrice"
                           th:field="*{maxPrice}" min="1">
                    <label for="maxPrice">Max ár</label>
                </div>
            </div>
        </div>
    </div>
</form>

